html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
:root {
    --character-size: 18px;
}
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background: #222;
    margin: 0;
    font-family: monospace, monospace;
    font-size: var(--character-size);
    color: #fff;
    padding: calc(var(--character-size) * 4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    user-select: none;
}
.overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(transparent, transparent 75%, rgba(0,0,0,0.4) 100%);
    z-index: 100;
}
.terminal-not-logged-in {
    position: fixed;
    inset: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: #222;
    display: none;
}
.terminal-not-logged-in.active {
    display: flex;
}
.terminal-not-logged-in a {
    color: pink;
}
.output {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.input-box {
    gap: var(--character-size);
    display: flex;
    color: #55F;
}
input {
    flex-grow: 1;
    border: 0;
    margin: 0;
    background: transparent;
    color: #fff;
    font-family: monospace, monospace;
    font-size: var(--character-size);
}
input:focus {
    outline: 0;
}