body {
  background: #f1f1f1;
  color: #000;
}
::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}
main aside {
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
main aside nav .item {
  color: #000;
}
main aside nav .item .indicator {
  background: #e22c78;
  color: #fff;
}
main aside nav .item > .mdi {
  opacity: 0.4;
}
main aside nav .item-notifications .notification-box {
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
main aside nav .item-notifications .notification-box .notification-list {
  background: #fff;
}
main aside nav .item-notifications .notification-box .notification-list .notification-item {
  color: #000;
}
main aside nav .item-notifications .notification-box .notification-list .notification-item:hover {
  background: rgba(0, 0, 0, 0.05);
}
main aside nav .item-notifications .notification-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
}
main aside nav .item-user .user-actions {
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
main aside nav .item-user .user-actions .user-action-item {
  color: #000;
}
main aside nav .item-user .user-actions .user-action-item .mdi {
  opacity: 0.4;
}
main aside nav .item-user .user-actions .user-action-item:hover {
  background: rgba(0, 0, 0, 0.05);
}
main aside nav .item-user .user-actions:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
}
main aside .search input {
  color: #000;
  background: rgba(0, 0, 0, 0.03);
}
main aside .search input:hover {
  background: rgba(0, 0, 0, 0.06);
  color: #000;
}
main aside .search input:focus {
  background: rgba(0, 0, 0, 0.06);
}
main aside .search input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
button,
.button {
  color: #000;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.1));
}
button:hover,
.button:hover {
  opacity: 0.6;
}
button.button-label:hover,
.button.button-label:hover {
  background: rgba(0, 0, 0, 0.15);
  color: #000;
}
button.button-label:active,
.button.button-label:active {
  background: rgba(0, 0, 0, 0.3);
  color: #000;
}
input[type='range'] {
  background-color: #ddd;
}
input[type='range']::-webkit-slider-runnable-track {
  color: #13bba4;
}
input[type='range']::-webkit-slider-thumb {
  background: #000;
  box-shadow: -800px 0 0 800px #e22c78;
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #e22c78;
}
input[type="range"]::-moz-range-track {
  background-color: #ddd;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #e22c78;
}
.song-row .song-header .row-controls .item {
  color: #000;
}
.song-row .song-header .row-controls .item.disabled {
  opacity: 0.4;
}
.song-row .song-header .row-controls .item:not(.disabled):hover {
  background: rgba(0, 0, 0, 0.125);
}
.song-row .song-list-noresults {
  background: #ffffff;
  opacity: 1;
}
.song-item {
  background: #ffffff;
  color: #000;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.song-item .song-cover .song-charter {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  color: #fff;
}
.song-item .song-metadata .song-artist {
  opacity: 0.5;
}
.song-item .song-metadata .song-difficulties img {
  opacity: 0.3;
}
.song-item .song-metadata .song-difficulties img.active {
  opacity: 1;
}
.song-item:not(.inactive):hover {
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.4);
}
.song-item.inactive {
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
}
.user-item {
  background: #383c3f;
  color: #fff;
}
.user-item .user-avatar {
  background: rgba(255, 255, 255, 0.1);
}
.user-item:not(.inactive):hover {
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.4);
}
.user-item.inactive {
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
}
