{% extends 'moderation/base.html.twig' %}

{% set sectionTitle = 'Edit an existing card' %}

{% block moderationContent %}
    <section class="section-moderator-add">
        <div class="box">
            {{ form_start(editForm) }}
            {{ form_widget(editForm) }}
            {{ form_end(editForm) }}
        </div>
    </section>
{% endblock %}