{% extends 'base.html.twig' %}

{% block title %}Confirmed{% endblock %}

{% block content %}
    <section class="section-login">
        <div class="box">
            <div class="text">
                <div class="title">Confirm your email</div>

                <p>To activate your user account, please click on the link provided in the email sent to you.</p>
            </div>
            <div class="illustration">
                <img src="{{ asset('assets/img/illustration-confirm.svg') }}" alt="Confirmed Illustration" />
            </div>
        </div>
    </section>
{% endblock content %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}" />
{% endblock %}