{% extends 'bundles/FOSUserBundle/base.html.twig' %}

{% set sectionTitle = 'Confirm your email' %}

{% block securityContent %}
    <div class="security-content">
        <img src="{{ asset('assets/img/illustration-confirm.svg') }}" alt="Illustration for Forgot Password" />

        <p>To activate your user account, please click on the link provided in the email sent to you.</p>
    </div>
{% endblock securityContent %}