{% trans_default_domain 'FOSUserBundle' %}
{% extends 'bundles/FOSUserBundle/base.html.twig' %}

{% set sectionTitle = 'Email confirmed!' %}

{% block securityContent %}
    <div class="security-content">
        <img src="{{ asset('assets/img/illustration-confirmed.svg') }}" alt="Illustration for Confirm Email" />

        <p>Awesome, your account was now activated!</p>
    </div>
{% endblock securityContent %}