{% extends 'user/settings/base.html.twig' %}

{% set sectionTitle = 'General Settings' %}

{% block settingsContent %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flashbang flashbang-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form action="" method="POST" class="settings-box">
        <div class="settings-title">General</div>
        <div class="settings-item">
            <div class="settings-label">Email</div>
            <div class="settings-input">
                <input type="email" name="email" value="{{ my.email }}" required />
            </div>
        </div>
        <div class="settings-item">
            <div class="settings-label">Username</div>
            <div class="settings-input">
                <input type="text" name="username" value="{{ my.username }}" required />
            </div>
        </div>
        <div class="settings-save">
            <input type="submit" class="button" name="save" value="Save" />
        </div>
    </form>
{% endblock %}