{% extends 'user/settings/base.html.twig' %}

{% block settings %}
    <div class="coming-soon">
        <img src="{{ asset('assets/img/illustration-login.svg') }}" alt="Illustration" />
        <div class="title">Coming Soon</div>
    </div>
{% endblock %}