html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #212629;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
::-webkit-scrollbar {
  background: #212529;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
main {
  display: grid;
  margin-left: 60px;
  min-height: 100vh;
  overflow-y: scroll;
}
main aside {
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  grid-template-rows: 1fr auto;
}
main aside .item {
  width: 60px;
  height: 60px;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #fff;
  transition: 0.2s ease opacity, 0.2s ease background;
}
main aside .item:hover {
  opacity: 1;
  cursor: pointer;
}
main aside .item.active {
  opacity: 1;
  background: #e22c78;
}
main aside .item .mdi {
  font-size: 22px;
}
section.section-startup {
  padding: 50px;
}
section.section-library {
  padding: 50px;
}
button,
.button {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  border: 0px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out all;
  cursor: pointer;
}
button:hover,
.button:hover {
  opacity: 0.6;
}
button:focus,
.button:focus {
  outline: 0;
}
button.button-label,
.button.button-label {
  background: transparent;
}
button.button-label:hover,
.button.button-label:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
button.button-label:active,
.button.button-label:active {
  background: #fff;
  color: #222;
  cursor: pointer;
}
input[type='range'] {
  overflow: hidden;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  background-color: #ddd;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}
input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #000;
  box-shadow: -800px 0 0 800px #e22c78;
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #e22c78;
}
input[type="range"]::-moz-range-track {
  background-color: #ddd;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #e22c78;
}
.song-row {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 5px;
}
.song-row .song-header {
  display: grid;
  grid-template-columns: 1fr auto;
}
.song-row .song-header .row-title {
  letter-spacing: 0.25em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.song-row .song-header .row-title.row-title-noactions {
  margin: 10px 0px;
}
.song-row .song-header .row-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.song-row .song-header .row-controls .item {
  width: 28px;
  height: 28px;
  font-size: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.song-row .song-header .row-controls .item.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.song-row .song-header .row-controls .item:not(.disabled):hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.song-row .song-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
}
.song-row .song-list-noresults {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 25px;
  opacity: 0.6;
  text-align: center;
}
.song-item {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.2s ease-in-out transform, 0.2s ease-in-out box-shadow;
  overflow: hidden;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
}
.song-item .song-cover {
  background: url("../img/defaultAlbumArt.jpg");
  background-size: cover;
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-position: center;
}
.song-item .song-cover .song-charter {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  opacity: 0;
  padding: 15px;
  overflow: hidden;
  display: grid;
  transition: 0.2s ease-in-out opacity;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: flex-end;
}
.song-item .song-cover .song-charter .song-charter-info {
  display: grid;
  align-items: center;
}
.song-item .song-cover .song-charter .song-charter-info .mdi {
  font-size: 18px;
}
.song-item .song-cover .song-charter .song-charter-info span {
  font-size: 12px;
  color: transparent;
  transition: 0.2s ease-in-out color;
  overflow: hidden;
  white-space: nowrap;
}
.song-item .song-metadata {
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr auto auto;
}
.song-item .song-metadata .song-title {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}
.song-item .song-metadata .song-artist {
  margin-top: 5px;
  opacity: 0.6;
  overflow: hidden;
  white-space: nowrap;
}
.song-item .song-metadata .song-difficulties {
  margin-top: 10px;
  height: 20px;
  display: flex;
}
.song-item .song-metadata .song-difficulties img {
  height: 18px;
  margin-right: 10px;
  opacity: 0.3;
}
.song-item .song-metadata .song-difficulties img.active {
  opacity: 1;
}
.song-item:not(.inactive):hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.4);
}
.song-item:not(.inactive):hover .song-cover .song-charter {
  opacity: 1;
}
.song-item.inactive {
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
}
.user-row {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 5px;
}
.user-row .user-header {
  display: grid;
  grid-template-columns: 1fr auto;
}
.user-row .user-header .row-title {
  letter-spacing: 0.25em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.user-row .user-header .row-title.row-title-noactions {
  margin: 10px 0px;
}
.user-row .user-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.user-item {
  background: #383c3f;
  transition: 0.2s ease-in-out transform, 0.2s ease-in-out box-shadow;
  overflow: hidden;
  border-radius: 6px;
  display: grid;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  grid-gap: 15px;
  grid-template-columns: 32px 1fr;
}
.user-item .user-avatar {
  background: rgba(255, 255, 255, 0.1);
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
  border-radius: 32px;
}
.user-item .user-metadata {
  display: flex;
  align-items: center;
}
.user-item .user-metadata .user-name {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}
.user-item .user-metadata .user-badge {
  font-size: 18px;
  margin-left: 10px;
}
.user-item:not(.inactive):hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.4);
}
.user-item.inactive {
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
}
