.section-moderator-dashboard header {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  padding-bottom: 0px;
}
.section-moderator-dashboard header .title {
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
}
.section-moderator-dashboard header .tabs {
  display: flex;
}
.section-moderator-dashboard header .tabs .tab {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding: 15px 40px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.4);
  transition: 0.2s ease-in-out all;
  text-decoration: none;
}
.section-moderator-dashboard header .tabs .tab:not(.active):hover {
  cursor: pointer;
  background: #272c2e;
  color: rgba(255, 255, 255, 0.75);
}
.section-moderator-dashboard header .tabs .tab.active {
  opacity: 1;
  color: #ffffff;
  background: #212629;
}
.section-moderator-dashboard .box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 25px;
  margin-bottom: 25px;
}
.section-moderator-dashboard .box .title {
  letter-spacing: 0.25em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.section-moderator-dashboard .box p {
  margin: 0px;
  line-height: 1.5em;
}
.section-moderator-dashboard .box table {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #000;
  border-collapse: collapse;
}
.section-moderator-dashboard .box table tr {
  border: 1px solid #000;
}
.section-moderator-dashboard .box table tr.active {
  background: rgba(71, 194, 126, 0.2);
}
.section-moderator-dashboard .box table tr.inactive {
  opacity: 0.2;
}
.section-moderator-dashboard .box table th {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #000;
}
.section-moderator-dashboard .box table td {
  padding: 10px;
  border: 1px solid #000;
}
.section-moderator-list {
  padding: 50px;
}
.section-moderator-add {
  padding: 50px;
}
.section-moderator-add .box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 25px;
}
.section-moderator-add .box .title {
  letter-spacing: 0.25em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.section-moderator-add .box form {
  margin-top: 15px;
  width: 600px;
}
.section-moderator-add .box form > div {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 15px;
}
.section-moderator-add .box form > div > div {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 15px;
}
.section-moderator-add .box form > div > div select,
.section-moderator-add .box form > div > div input[type="text"],
.section-moderator-add .box form > div > div input[type="password"],
.section-moderator-add .box form > div > div input[type="email"] {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  padding: 7px 14px;
  border: 0px;
  transition: 0.2s ease-in-out background, 0.2s ease-in-out color;
}
.section-moderator-add .box form > div > div select:hover,
.section-moderator-add .box form > div > div input[type="text"]:hover,
.section-moderator-add .box form > div > div input[type="password"]:hover,
.section-moderator-add .box form > div > div input[type="email"]:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}
.section-moderator-add .box form > div > div select:focus,
.section-moderator-add .box form > div > div input[type="text"]:focus,
.section-moderator-add .box form > div > div input[type="password"]:focus,
.section-moderator-add .box form > div > div input[type="email"]:focus {
  outline: 0;
}
.section-moderator-add .box form > div > div select::placeholder,
.section-moderator-add .box form > div > div input[type="text"]::placeholder,
.section-moderator-add .box form > div > div input[type="password"]::placeholder,
.section-moderator-add .box form > div > div input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.section-moderator-add .box form > div > div select option,
.section-moderator-add .box form > div > div input[type="text"] option,
.section-moderator-add .box form > div > div input[type="password"] option,
.section-moderator-add .box form > div > div input[type="email"] option {
  background: #222;
  text-transform: initial;
}
.section-moderator-add .box form > div > div select:disabled,
.section-moderator-add .box form > div > div input[type="text"]:disabled,
.section-moderator-add .box form > div > div input[type="password"]:disabled,
.section-moderator-add .box form > div > div input[type="email"]:disabled {
  opacity: 0.4;
}
.section-moderator-add .box form > div > div input[type="text"],
.section-moderator-add .box form > div > div input[type="password"],
.section-moderator-add .box form > div > div input[type="email"] {
  text-transform: initial;
  font-weight: normal;
}
.section-moderator-add .box form > div > div input[type="text"]:hover,
.section-moderator-add .box form > div > div input[type="password"]:hover,
.section-moderator-add .box form > div > div input[type="email"]:hover {
  cursor: text;
}
.section-moderator-report {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
  grid-gap: 25px;
}
.section-moderator-report .box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 25px;
  margin-bottom: 25px;
}
.section-moderator-report .box .title {
  letter-spacing: 0.25em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.section-moderator-report .box .report-data {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 15px;
  margin-top: 15px;
}
.section-moderator-report .box .report-data img {
  width: 120px;
  justify-self: center;
  height: 120px;
}
.section-moderator-report .box .report-data img.avatar-icon {
  border-radius: 50%;
}
.section-moderator-report .box .report-data img.song-cover {
  border-radius: 6px;
}
.section-moderator-report .box .report-data .report-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 15px;
  padding: 10px 0px;
}
.section-moderator-report .box .report-data .report-item .column {
  opacity: 0.4;
}
.section-promo-crud {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
}
.section-promo-crud .preview .staff-promo {
  width: 545px;
}
/*# sourceMappingURL=moderation.css.map */