.section-settings header {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  padding-bottom: 0px;
}
.section-settings header .title {
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
}
.section-settings header .tabs {
  display: flex;
}
.section-settings header .tabs .tab {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding: 15px 40px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.4);
  transition: 0.2s ease-in-out all;
  text-decoration: none;
}
.section-settings header .tabs .tab:not(.active):hover {
  cursor: pointer;
  background: #272c2e;
  color: rgba(255, 255, 255, 0.75);
}
.section-settings header .tabs .tab.active {
  opacity: 1;
  color: #ffffff;
  background: #212629;
}
.section-settings .settings-content {
  padding: 50px;
}
.section-settings .settings-content .settings-title {
  font-size: 14px;
  letter-spacing: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
}
.section-settings .settings-content .settings-box {
  width: 600px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
.section-settings .settings-content .settings-box .settings-item {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-gap: 15px;
  margin-top: 15px;
}
.section-settings .settings-content .settings-box .settings-item .settings-label {
  align-self: center;
  opacity: 0.6;
}
.section-settings .settings-content .settings-box .settings-item .settings-input {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.section-settings .settings-content .settings-box .settings-item .settings-input.settings-input-twobuttons {
  grid-template-columns: 1fr auto auto;
}
.section-settings .settings-content .settings-box .settings-item .settings-input select,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="text"],
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="password"],
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="email"] {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  padding: 7px 14px;
  border: 0px;
  transition: 0.2s ease-in-out background, 0.2s ease-in-out color;
}
.section-settings .settings-content .settings-box .settings-item .settings-input select:hover,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="text"]:hover,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="password"]:hover,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="email"]:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}
.section-settings .settings-content .settings-box .settings-item .settings-input select:focus,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="text"]:focus,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="password"]:focus,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="email"]:focus {
  outline: 0;
}
.section-settings .settings-content .settings-box .settings-item .settings-input select::placeholder,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="text"]::placeholder,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="password"]::placeholder,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.section-settings .settings-content .settings-box .settings-item .settings-input select option,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="text"] option,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="password"] option,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="email"] option {
  background: #222;
  text-transform: initial;
}
.section-settings .settings-content .settings-box .settings-item .settings-input select:disabled,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="text"]:disabled,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="password"]:disabled,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="email"]:disabled {
  opacity: 0.4;
}
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="text"],
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="password"],
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="email"] {
  text-transform: initial;
  font-weight: normal;
}
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="text"]:hover,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="password"]:hover,
.section-settings .settings-content .settings-box .settings-item .settings-input input[type="email"]:hover {
  cursor: text;
}
.section-settings .settings-content .settings-box .settings-item .settings-input select:hover {
  cursor: pointer;
}
.section-settings .settings-content .settings-box .settings-save {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.section-settings .settings-content .settings-box .settings-save button {
  padding: 7px 24px;
}
.section-settings .settings-content .flashbang {
  padding: 20px;
  margin-bottom: 25px;
  border: 2px solid #fff;
  width: 600px;
  border-radius: 6px;
}
.section-settings .settings-content .flashbang.flashbang-success {
  background: rgba(121, 223, 90, 0.1);
  border-color: #79df5a;
  color: #79df5a;
}
.section-settings .settings-content .flashbang.flashbang-error {
  background: rgba(197, 65, 76, 0.1);
  border-color: #c5414c;
  color: #c5414c;
}
.section-connect {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 25px;
}
.section-connect .connect-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.25em;
  font-weight: bold;
}
.section-connect .connect-content {
  width: 300px;
  display: grid;
}
.section-connect .connect-content .connect-code {
  width: 300px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  letter-spacing: 0.25em;
  font-weight: 300;
  padding: 20px;
  background: #000;
  border-radius: 4px;
  font-family: 'Oswald', sans-serif;
}
.section-connect .connect-content .connect-timeout {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin-top: 5px;
  height: 5px;
  overflow: hidden;
}
.section-connect .connect-content .connect-timeout .connect-progress {
  height: 5px;
  width: 0%;
  background: #e22c78;
}
.section-connect .connect-content .connect-explaination {
  margin-top: 25px;
  opacity: 0.6;
  line-height: 1.5;
  text-align: center;
}
.section-connect .connections-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.section-connect .connections-list .connection-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 25px;
}
.section-connect .connections-list .connection-item .connection-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}
.section-connect .connections-list .connection-item .connection-connected {
  opacity: 0.6;
  margin-bottom: 30px;
}
.section-connect .connections-list .noconnection-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 25px;
}
.section-connect .connections-list .noconnection-item .noconnection-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}
.section-connect .connections-list .noconnection-item .noconnection-connected {
  opacity: 0.6;
}
@keyframes timeoutProgress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
