.section-settings {
    & header {
        background: rgba(0,0,0,0.5);
        padding: 50px;
        padding-bottom: 0px;

        & .title {
            font-size: 32px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 15px;
            font-family: 'Oswald', sans-serif;
        }
        & .tabs {
            display: flex;

            & .tab {
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.25em;
                padding: 15px 40px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background: rgba(0,0,0,0.6);
                color: rgba(255,255,255,0.4);
                transition: 0.2s ease-in-out all;
                text-decoration: none;

                &:not(.active):hover {
                    cursor: pointer;
                    background: #272c2e;
                    color: rgba(255,255,255,0.75);
                }
                &.active {
                    opacity: 1;
                    color: rgba(255,255,255,1);
                    background: #212629;
                }
            }
        }
    }
    & .settings-content {
        padding: 50px;

        & .settings-title {
            font-size: 14px;
            letter-spacing: 0.25em;
            font-weight: bold;
            text-transform: uppercase;
        }
        & .settings-box {
            width: 600px;
            padding: 25px;
            background: rgba(255,255,255,0.1);
            border-radius: 6px;

            & .settings-item {
                display: grid;
                grid-template-columns: 170px 1fr;
                grid-gap: 15px;
                margin-top: 15px;

                & .settings-label {
                    align-self: center;
                    opacity: 0.6;
                }
                & .settings-input {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;

                    &.settings-input-twobuttons {
                        grid-template-columns: 1fr auto auto;
                    }

                    & select, & input[type="text"], & input[type="password"], & input[type="email"] {
                        width: 100%;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 12px;
                        color: #fff;
                        background: rgba(255,255,255,0.2);
                        border-radius: 4px;
                        padding: 7px 14px;
                        border: 0px;
                        transition: 0.2s ease-in-out background, 0.2s ease-in-out color;
                    
                        &:hover {
                            background: rgba(255,255,255,0.4);
                            color: #fff;
                        }
                        &:focus {
                            outline: 0;
                        }
                        &::placeholder {
                            color: rgba(255,255,255,0.6);
                        }
                        & option {
                            background: #222;
                            text-transform: initial;
                        }
                        &:disabled {
                            opacity: 0.4;
                        }
                    }
                    & input[type="text"], input[type="password"], input[type="email"] {
                        &:hover {
                            cursor: text;
                        }
                    }
                    & select:hover {
                        cursor: pointer;
                    }
                    span {
                        font-size: 12px;
                        line-height: 1.25em;
                        margin-top: 10px;
                        opacity: 0.6;
                    }
                }
            }
            & .settings-save {
                margin-top: 15px;
                display: flex;
                justify-content: flex-end;

                & button {
                    padding: 7px 24px;
                }
            }
        }
        & .flashbang {
            padding: 20px;
            margin-bottom: 25px;
            border: 2px solid #fff;
            width: 600px;
            border-radius: 6px;

            &.flashbang-success {
                background: rgba(121, 223, 90, 0.1);
                border-color: #79df5a;
                color: #79df5a;
            }
            &.flashbang-error {
                background: rgba(197, 65, 76, 0.1);
                border-color: #c5414c;
                color: #c5414c;
            }
        }
    }
}
.section-connect {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 25px;

    & .connect-title {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.25em;
        font-weight: bold;
    }

    & .connect-content {
        width: 300px;
        display: grid;

        & .connect-code {
            width: 300px;
            text-align: center;
            display: inline-block;
            font-size: 32px;
            letter-spacing: 0.25em;
            font-weight: 300;
            padding: 20px;
            background: #000;
            border-radius: 4px;
            font-family: 'Oswald', sans-serif;
        }
        & .connect-timeout {
            background: rgba(255,255,255,0.4);
            border-radius: 10px;
            margin-top: 5px;
            height: 5px;
            overflow: hidden;

            & .connect-progress {
                height: 5px;
                width: 0%;
                background: rgb(226, 44, 120);
            }
        }
        & .connect-explaination {
            margin-top: 25px;
            opacity: 0.6;
            line-height: 1.5;
            text-align: center;
        }
    }
    & .connections-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;

        & .connection-item {
            background: rgba(255,255,255,0.1);
            border-radius: 4px;
            padding: 25px;

            & .connection-title {
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 5px;
            }
            & .connection-connected {
                opacity: 0.6;
                margin-bottom: 30px;
            }
        }

        & .noconnection-item {
            background: rgba(255,255,255,0.1);
            border-radius: 4px;
            padding: 25px;

            & .noconnection-title {
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 5px;
            }
            & .noconnection-connected {
                opacity: 0.6;
            }
        }
    }
}

@keyframes timeoutProgress {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}