.section-song-detail {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-gap: 25px;
  padding: 50px;
}
.section-song-detail .song-detail-background {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 300px;
  z-index: -1;
}
.section-song-detail .song-detail-background .song-detail-background-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(180deg, rgba(33, 38, 41, 0.7) 0%, #212629 100%);
}
.section-song-detail .song-detail .song-meta {
  display: grid;
  grid-template-columns: auto 1fr;
  background: #383C3F;
  border-radius: 4px;
  overflow: hidden;
}
.section-song-detail .song-detail .song-meta .cover {
  margin-left: 10px;
  align-self: center;
  justify-self: center;
  height: 64px;
  width: 64px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
}
.section-song-detail .song-detail .song-meta .song-metadata {
  padding: 20px;
}
.section-song-detail .song-detail .song-meta .song-metadata .song-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2px;
}
.section-song-detail .song-detail .song-meta .song-metadata .song-subtitle {
  margin-bottom: 5px;
}
.section-song-detail .song-detail .song-meta .song-metadata .song-artist {
  opacity: 0.6;
}
.section-song-detail .song-detail .song-actions {
  margin-top: 25px;
  width: 500px;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
}
.section-song-detail .song-detail .song-actions .action-row {
  display: flex;
}
.section-song-detail .song-detail .song-actions .action-row .action,
.section-song-detail .song-detail .song-actions .action-row .action-player {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.section-song-detail .song-detail .song-actions .action-row .action .icon,
.section-song-detail .song-detail .song-actions .action-row .action-player .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
}
.section-song-detail .song-detail .song-actions .action-row .action .volume,
.section-song-detail .song-detail .song-actions .action-row .action-player .volume {
  width: 0px;
  overflow: hidden;
  padding-right: 0px;
  transition: all 0.2s ease-in-out;
}
.section-song-detail .song-detail .song-actions .action-row .action:hover,
.section-song-detail .song-detail .song-actions .action-row .action-player:hover {
  opacity: 0.6;
}
.section-song-detail .song-detail .song-actions .action-row.player-active .action-player {
  width: 250px;
}
.section-song-detail .song-detail .song-actions .action-row.player-active .action-player .volume {
  width: 170px;
  padding-right: 20px;
}
.section-song-detail .song-detail .song-statistics {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  background: #383C3F;
  padding: 20px;
  border-radius: 4px;
  margin-top: 25px;
}
.section-song-detail .song-detail .song-statistics .stat {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-gap: 15px;
}
.section-song-detail .song-detail .song-statistics .stat .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.section-song-detail .song-detail .song-statistics .stat .difficulties {
  align-self: center;
  height: 20px;
  display: flex;
}
.section-song-detail .song-detail .song-statistics .stat .difficulties .difficulty {
  background: #fff;
  color: #000;
  border-radius: 4px;
  padding: 3px 8px;
  margin-right: 4px;
  font-size: 10px;
}
.section-song-detail .song-detail .song-statistics .stat .difficulties .difficulty span {
  font-weight: bold;
}
.section-song-detail .song-detail .song-statistics .stat .content {
  align-self: center;
  opacity: 0.6;
}
.section-song-detail .song-detail .song-uploader {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  margin-top: 25px;
}
.section-song-detail .song-detail .song-uploader .label {
  align-self: center;
  opacity: 0.6;
}
.section-song-detail .song-detail .song-description {
  background: #383C3F;
  border-radius: 4px;
  margin-top: 25px;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}
.section-song-detail .song-detail .song-description .text {
  line-height: 1.5em;
  opacity: 0.7;
}
.section-song-detail .song-detail .song-description .tags {
  display: flex;
  flex-wrap: wrap;
}
.section-song-detail .song-detail .song-description .tags .tag {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  text-decoration: none;
  transition: 0.2s ease-in-out all;
}
.section-song-detail .song-detail .song-description .tags .tag:hover {
  cursor: pointer;
  color: #222;
  background: #fff;
}
.section-song-detail .song-social .tab-header {
  display: flex;
}
.section-song-detail .song-social .tab-header .tab-header-item {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding: 15px 40px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #1C2022;
  color: rgba(255, 255, 255, 0.4);
  transition: 0.2s ease-in-out all;
  text-decoration: none;
}
.section-song-detail .song-social .tab-header .tab-header-item:not(.active):hover {
  cursor: pointer;
  background: #272c2e;
  color: rgba(255, 255, 255, 0.75);
}
.section-song-detail .song-social .tab-header .tab-header-item.active {
  opacity: 1;
  color: #ffffff;
  background: #383C3F;
}
.section-song-detail .song-social .tab {
  background: #383C3F;
  border-radius: 4px;
  border-top-left-radius: 0px;
  padding: 20px;
  display: grid;
  grid-gap: 25px;
}
.section-song-detail .song-social .tab.tab-reviews .review-overview {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 25px;
  align-items: center;
}
.section-song-detail .song-social .tab.tab-reviews .review-overview .icon {
  color: #fff;
  font-size: 48px;
}
.section-song-detail .song-social .tab.tab-reviews .review-overview .text .percentage {
  font-size: 32px;
}
.section-song-detail .song-social .tab.tab-reviews .review-overview .text .label {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
}
.section-song-detail .song-social .tab.tab-reviews .review-overview .text .disclaimer {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-reviews .review-overview .action-button {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out all;
}
.section-song-detail .song-social .tab.tab-reviews .review-overview .action-button:hover {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-reviews .reviews {
  display: grid;
  grid-gap: 10px;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 20px;
  overflow: hidden;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 15px;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .avatar {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-position: center;
  background-size: cover;
  display: block;
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out opacity;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .avatar:hover {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .text .username {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out opacity;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .text .username:hover {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .text .subline {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .text .subline i.positive {
  color: #62d38a;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .text .subline i.negative {
  color: #f73c56;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .text .subline span {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .actions {
  align-self: center;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .actions .action {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  border-radius: 4px;
  padding: 5px 15px;
  transition: 0.2s ease-in-out opacity;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .metadata .actions .action:hover {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .comment {
  margin-top: 15px;
  line-height: 1.5em;
  word-break: normal;
  overflow: hidden;
  transition: 1s ease max-height;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .comment.collapsed {
  max-height: 6em;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .toggleComment {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f74e94;
  cursor: pointer;
  transition: 0.2s ease opacity;
}
.section-song-detail .song-social .tab.tab-reviews .reviews .review .toggleComment:hover {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-reviews .no-reviews {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 25px;
  align-items: center;
}
.section-song-detail .song-social .tab.tab-reviews .no-reviews .icon {
  color: #fff;
  font-size: 48px;
}
.section-song-detail .song-social .tab.tab-reviews .no-reviews .text .title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.section-song-detail .song-social .tab.tab-reviews .no-reviews .text .explaination {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplay-overview {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 25px;
  align-items: center;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplay-overview .icon {
  color: #fff;
  font-size: 48px;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplay-overview .text .label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplay-overview .text .disclaimer {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplay-overview .action-button {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out all;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplay-overview .action-button:hover {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplays {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplays .spinplay {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplays .spinplay .thumbnail {
  width: 100%;
  display: block;
  padding-top: 56.25%;
  background: rgba(255, 255, 255, 0.1);
  background-position: center;
  background-size: cover;
  transition: 0.2s ease-in-out opacity;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplays .spinplay .thumbnail:hover {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplays .spinplay .metadata {
  padding: 15px;
  display: grid;
  grid-gap: 15px;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplays .spinplay .metadata .avatar {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.1);
  background-position: center;
  background-size: cover;
  border-radius: 40px;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplays .spinplay .metadata .actions .action {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  border-radius: 4px;
  padding: 5px 15px;
  transition: 0.2s ease-in-out opacity;
}
.section-song-detail .song-social .tab.tab-spinplays .spinplays .spinplay .metadata .actions .action:hover {
  opacity: 0.6;
}
.section-song-detail .song-social .tab.tab-spinplays .no-spinplays {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 25px;
  align-items: center;
}
.section-song-detail .song-social .tab.tab-spinplays .no-spinplays .icon {
  color: #fff;
  font-size: 48px;
}
.section-song-detail .song-social .tab.tab-spinplays .no-spinplays .text .title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.section-song-detail .song-social .tab.tab-spinplays .no-spinplays .text .explaination {
  opacity: 0.6;
}
.section-song-detail .song-social .tab .form-add {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
.section-song-detail .song-social .tab .form-add .form-item {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 15px;
}
.section-song-detail .song-social .tab .form-add .form-item .recommend-group {
  display: flex;
}
.section-song-detail .song-social .tab .form-add .form-item .recommend-group .recommend-radio {
  user-select: none;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}
.section-song-detail .song-social .tab .form-add .form-item .recommend-group .recommend-radio input {
  position: absolute;
  cursor: pointer;
  width: 0px;
  height: 0px;
  opacity: 0;
}
.section-song-detail .song-social .tab .form-add .form-item .recommend-group .recommend-radio input:checked ~ .check-positive {
  background: rgba(98, 211, 138, 0.2);
  border-color: rgba(98, 211, 138, 0.4);
  color: #62d38a;
}
.section-song-detail .song-social .tab .form-add .form-item .recommend-group .recommend-radio input:checked ~ .check-negative {
  background: rgba(247, 60, 86, 0.2);
  border-color: rgba(247, 60, 86, 0.4);
  color: #f73c56;
}
.section-song-detail .song-social .tab .form-add .form-item .recommend-group .recommend-radio .check {
  background: rgba(255, 255, 255, 0.15);
  width: 80px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.section-song-detail .song-social .tab .form-add .form-actions {
  text-align: right;
}
.section-song-detail .song-social .tab .form-add input[type="text"],
.section-song-detail .song-social .tab .form-add textarea {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 7px 14px;
  border: 0px;
  transition: 0.2s ease-in-out background, 0.2s ease-in-out color;
}
.section-song-detail .song-social .tab .form-add input[type="text"]:not(:disabled):hover,
.section-song-detail .song-social .tab .form-add textarea:not(:disabled):hover {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  cursor: text;
}
.section-song-detail .song-social .tab .form-add input[type="text"]:focus,
.section-song-detail .song-social .tab .form-add textarea:focus {
  outline: 0;
}
.section-song-detail .song-social .tab .form-add input[type="text"]::placeholder,
.section-song-detail .song-social .tab .form-add textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.section-song-detail .song-social .tab .form-add input[type="text"] option,
.section-song-detail .song-social .tab .form-add textarea option {
  background: #222;
  text-transform: initial;
}
.section-song-detail .song-social .tab .form-add input[type="text"]:disabled,
.section-song-detail .song-social .tab .form-add textarea:disabled {
  opacity: 0.4;
}
.section-song-detail .song-social .tab .form-add input[type="submit"],
.section-song-detail .song-social .tab .form-add .button {
  text-decoration: none;
  border: 0px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s ease-in-out all;
}
.section-song-detail .song-social .tab .form-add input[type="submit"]:hover,
.section-song-detail .song-social .tab .form-add .button:hover {
  opacity: 0.6;
}
.playlist-overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1200;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  user-select: none;
}
.playlist-overlay.active {
  display: flex;
}
.playlist-overlay .close {
  font-size: 32px;
  color: #fff;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  transition: 0.2s ease-in-out opacity;
}
.playlist-overlay .close:hover {
  opacity: 0.6;
}
.playlist-overlay .overlay-content {
  width: 500px;
  background: #383c3f;
  border-radius: 6px;
}
.playlist-overlay .overlay-content .title {
  padding: 25px;
  letter-spacing: 0.25em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.playlist-overlay .overlay-content .playlist-empty {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 30px 15px;
  text-align: center;
}
.playlist-overlay .overlay-content .playlist-list {
  padding: 0px 25px;
  display: grid;
  grid-gap: 15px;
}
.playlist-overlay .overlay-content .playlist-list .playlist-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-gap: 15px;
  height: 24px;
  align-items: center;
}
.playlist-overlay .overlay-content .playlist-list .playlist-item input[type="checkbox"] {
  appearance: none;
  border: 0;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  outline: none;
}
.playlist-overlay .overlay-content .playlist-list .playlist-item input[type="checkbox"]:after {
  content: "";
  display: inline-block;
  width: 18px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  height: 18px;
}
.playlist-overlay .overlay-content .playlist-list .playlist-item input[type="checkbox"]:checked:after {
  content: "\F012C";
  font-family: "Material Design Icons";
  font-size: 14px;
  background: #fff;
  color: #000;
}
.playlist-overlay .overlay-content .actions {
  padding: 25px;
  display: flex;
  justify-content: flex-end;
}
.playlist-overlay .overlay-content .actions .button {
  margin-left: 10px;
}
@media screen and (min-width: 1700px) {
  .section-song-detail .song-social .tab.tab-spinplays .spinplays {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1350px) {
  .section-song-detail {
    grid-template-columns: 1fr;
  }
}
