.section-startup header {
  background: rgba(0, 0, 0, 0.5);
  padding: 25px 50px;
  padding-bottom: 0px;
}
.section-startup header .tabs {
  display: flex;
}
.section-startup header .tabs .tab {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding: 15px 40px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.4);
  transition: 0.2s ease-in-out all;
  text-decoration: none;
}
.section-startup header .tabs .tab:not(.active):hover {
  cursor: pointer;
  background: #272c2e;
  color: rgba(255, 255, 255, 0.75);
}
.section-startup header .tabs .tab.active {
  opacity: 1;
  color: #ffffff;
  background: #212629;
}
.section-startup .frontpage {
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 50px;
  padding: 50px;
}
.section-startup .frontpage .social-buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
.section-startup .frontpage .social-buttons .item {
  height: 75px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  transition: 0.2s ease-in-out all;
}
.section-startup .frontpage .social-buttons .item.item-discord {
  background: linear-gradient(135deg, #99aab5, #7289da);
}
.section-startup .frontpage .social-buttons .item.item-bluesky {
  background: linear-gradient(135deg, #d0e6f7, #208bfe);
}
.section-startup .frontpage .social-buttons .item.item-youtube {
  background: linear-gradient(135deg, #ff0000, #c20000);
}
.section-startup .frontpage .social-buttons .item.item-twitch {
  background: linear-gradient(135deg, #b9a3e3, #6441a5);
}
.section-startup .frontpage .social-buttons .item.item-patreon {
  background: linear-gradient(135deg, #ff8575, #e75744);
}
.section-startup .frontpage .social-buttons .item:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.section-startup .frontpage .staff-promos {
  display: grid;
  grid-template-columns: 545px 545px 1fr;
  grid-gap: 25px;
}
.section-startup .frontpage .staff-promos:empty {
  display: none;
}
.staff-promo {
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center right;
  background-size: cover;
  border-radius: 6px;
  padding: 50px;
  height: 256px;
  display: grid;
  grid-template-rows: auto 100px auto;
}
.staff-promo .promo-type {
  color: #aaa;
  justify-self: left;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.3em;
}
.staff-promo .promo-title {
  font-weight: bold;
  font-size: 34px;
  justify-self: left;
  align-self: flex-start;
  letter-spacing: -0.025em;
  color: #222;
}
.staff-promo .promo-button {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #fff;
  background: #222;
  justify-self: left;
  border-radius: 6px;
  transition: 0.2s ease-in-out opacity;
  text-decoration: none;
}
.staff-promo .promo-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.song-row {
  padding: 50px;
}
/*# sourceMappingURL=startup.css.map */