.section-user-detail {
    & header {
        background: rgba(0,0,0,0.5);
        padding: 25px 50px;
        padding-bottom: 0px;

        & .detail {
            margin-bottom: 15px;
            display: grid;
            grid-template-columns: 80px 1fr;
            grid-gap: 15px;

            & .user-avatar {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                position: relative;
                overflow: hidden;

                & .user-avatar-change {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    right: 0px;
                    background: rgba(0,0,0,0.6);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: 0.2s ease opacity;
                    cursor: pointer;

                    & .mdi {
                        font-size: 28px;
                    }
                    & input {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        bottom: 0px;
                        right: 0px;
                        cursor: pointer;
                        opacity: 0;
                    }
                }
                &:hover {
                    & .user-avatar-change {
                        opacity: 1;
                    }
                }
            }

            & .user-data {
                display: grid;
                grid-template-rows: 1fr 40px;

                & .user-name {
                    font-size: 22px;
                    margin-bottom: 22px;

                    & span {
                        display: inline-block;
                        background: rgba(255,255,255,0.2);
                        color: #fff;
                        font-size: 8px;
                        font-weight: bold;
                        padding: 4px 6px;
                        border-radius: 2px;
                        transform: translateY(-3px);
                        margin-right: 5px;
                    }
                }
                & .user-actions {
                    & .button {
                        margin-right: 7px;
                    }
                }
            }
        }
        & .cards {
            margin-bottom: 25px;
            display: flex;

            & .card {
                width: 100px;
                height: 100px;
                margin-right: 10px;
                background-position: center;
                background-size: cover;
                opacity: 1;
                transition: 0.2s ease-in-out opacity;

                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }
            }
        }
        & .tabs {
            display: flex;

            & .tab {
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.25em;
                padding: 15px 40px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background: rgba(0,0,0,0.6);
                color: rgba(255,255,255,0.4);
                transition: 0.2s ease-in-out all;
                text-decoration: none;

                &:not(.active):hover {
                    cursor: pointer;
                    background: #272c2e;
                    color: rgba(255,255,255,0.75);
                }
                &.active {
                    opacity: 1;
                    color: rgba(255,255,255,1);
                    background: #212629;
                }
            }
        }
    }

    & .song-row-user {
        padding: 50px;
        display: grid;
    }

    & .playlist-row-user {
        padding: 50px;
        display: grid;
    }

    & .playlist-action {
        padding: 0px 50px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .reviews {
        padding: 50px;

        & .review-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px;

            & .review {
                background: rgba(255,255,255,0.1);
                border-radius: 4px;
                padding: 20px;
                display: block;
                transition: 0.2s ease-in-out opacity;
                text-decoration: none;

                & .metadata {
                    display: grid;
                    grid-template-columns: auto 1fr auto;
                    grid-gap: 15px;

                    & .avatar {
                        width: 48px;
                        height: 48px;
                        border-radius: 48px;
                        background-position: center;
                        background-size: cover;
                        display: block;
                        color: #fff;
                        text-decoration: none;
                        transition: 0.2s ease-in-out opacity;

                        &:hover {
                            opacity: 0.6;
                        }
                    }
                    & .text {
                        & .username {
                            font-size: 16px;
                            font-weight: bold;
                            margin-bottom: 5px;
                            display: block;
                            color: #fff;
                            text-decoration: none;
                        }
                        & .subline {
                            display: grid;
                            grid-gap: 5px;
                            grid-template-columns: auto 1fr;
                            align-items: center;
                            color: #fff;
                            text-decoration: none;

                            & i.positive { color: #62d38a; }
                            & i.negative { color: #f73c56; }

                            & span {
                                opacity: 0.6;
                            }
                        }
                    }
                }

                & .comment {
                    margin-top: 15px;
                    line-height: 1.5em;
                    word-break: normal;
                    color: #fff;
                    text-decoration: none;
                }

                &:hover {
                    opacity: 0.4;
                }
            }
        }
    }

    & .spinplays {
        padding: 50px;

        & .video-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 15px;
    
            & .spinplay {
                background: rgba(255,255,255,0.1);
                border-radius: 4px;
                overflow: hidden;
                color: #fff;
                text-decoration: none;
    
                & .thumbnail {
                    width: 100%;
                    display: block;
                    padding-top: 56.25%;
                    background: rgba(255,255,255,0.1);
                    background-position: center;
                    background-size: cover;
                    transition: 0.2s ease-in-out opacity;
    
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

& .card-overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1200;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;

    &.active {
        display: flex;
    }

    & .close {
        font-size: 32px;
        color: #fff;
        position: absolute;
        top: 40px;
        right: 40px;
        cursor: pointer;
        transition: 0.2s ease-in-out opacity;

        &:hover {
            opacity: 0.6;
        }
    }

    & .overlay-content {
        max-width: 320px;
        text-align: center;

        & img {
            width: 200px;
            height: 200px;
            margin-bottom: 50px;
        }

        & .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        & .card-description {
            line-height: 1.5em;
            opacity: 0.75;
            margin-bottom: 10px;
        }

        & .card-given {
            margin-bottom: 25px;
            font-weight: bold;
        }

        & .button {
            display: inline-block;
        }
    }
}