{% extends 'moderation/base.html.twig' %}

{% set sectionTitle = 'Add a new promo' %}

{% block moderationContent %}
    <section class="section-moderator-add">
        <div class="box">
            {{ form_start(addForm) }}
            {{ form_widget(addForm) }}
            {{ form_end(addForm) }}
        </div>
    </section>
{% endblock %}