<!DOCTYPE html>
<html>
    <head>
      <base href="./" />
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Coming Soon ~ SpinSha.re</title>

      <!-- Meta Tags -->
      <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}" />
      <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

      <!-- Styles -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" />
      <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css" />
      <link rel="stylesheet" href="{{ asset('assets/css/comingsoon.css') }}" />
    </head>
    <body>
        <div class="comingsoon-video">
            <video muted loop autoplay>
                <source src="{{ asset('assets/video/comingsoon.mp4') }}" type="video/mp4" />
            </video>
        </div>

        <footer>
            <a href="https://spinsha.re/discord" target="_blank">Join our Discord-Server!</a>
        </footer>
    </body>
</html>