{% extends 'apidocs/base.html.twig' %}

{% block title %}Client{% endblock %}

{% block content %}
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="content">
								<h1 class="content-title">
									Client
                                </h1>
                                
                                <div class="card" id="overview">
                                    <h2 class="card-title">Overview</h2>
                                    <p>The SpinShare client is used to download and extract charts from SpinShare. It is a seperate downloadable installer file that is available on the SpinShare website.</p>

                                    <br />

                                    <div class="alert alert-primary" role="alert">
                                        <h4 class="alert-heading">Information</h4>
                                        Not all platforms are updated at the same time. Sometimes it can take a few hours to a few days once every platform is available.
                                    </div>

                                    <br />

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Platform</th>
                                            <td>Description</td>
                                        </tr>
                                        <tr>
                                            <th>win32</th>
                                            <td>Windows (32bit and 64bit)</td>
                                        </tr>
                                        <tr>
                                            <th>darwin</th>
                                            <td>Mac OS</td>
                                        </tr>
                                    </table>
                                </div>
                                
                                <div class="card" id="getLatestVersion">
                                    <h2 class="card-title">Get Latest Version</h2>
                                    <p>Get's the latest version of the SpinShare Client for a set platform.</p>

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Method</th>
                                            <td>GET</td>
                                        </tr>
                                        <tr>
                                            <th>Endpoint</th>
                                            <td>/latestVersion/<code class="code">platform</code></td>
                                        </tr>
                                    </table>

                                    <br />

                                    <strong>Output Body</strong>
<pre class="code">
{
    "version": 1,
    "status": 200,
    "data":
    {
        "id": 1,
        "uploadDate":
        {
            "date": "2021-02-23 20:35:22.000000",
            "timezone_type": 3,
            "timezone": "Europe/Berlin"
        },
        "stringVersion": "2.5.0",
        "majorVersion": 2,
        "minorVersion": 5,
        "patchVersion": 0,
        "platform": "win32",
        "path": "https://spinsha.re/uploads/client/SpinShare_win32_2_5_0.exe"
    }
}
</pre>

                                    <br />

                                    <strong>Output Body (Not Found)</strong>
<pre class="code">
{
    "version": 1,
    "status": 404,
    "data": []
}
</pre>
                                </div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="content">
								<div class="on-this-page-nav">
									<div class="title">On this page</div>
									<a href="#overview">Overview</a>
									<a href="#getLatestVersion">Get Latest Version</a>
								</div>
							</div>
						</div>
					</div>
{% endblock %}