{% extends 'apidocs/base.html.twig' %}

{% block title %}Songs{% endblock %}

{% block content %}
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="content">
								<h1 class="content-title">
									Songs
                                </h1>
                                
                                <div class="card" id="detail">
                                    <h2 class="card-title">Detail</h2>
                                    <p>Returns more detailled information about a song.</p>

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Method</th>
                                            <td>GET</td>
                                        </tr>
                                        <tr>
                                            <th>Endpoint</th>
                                            <td>/song/<code class="code">songID</code></td>
                                        </tr>
                                    </table>

                                    <br />

                                    <div class="alert alert-primary" role="alert">
                                        <h4 class="alert-heading">Information</h4>
                                        Instead of a <code class="code">songID</code> you can also provide a <code class="code">fileReference</code>, which start with <code class="code">spinshare_</code>.
                                    </div>

                                    <br />

                                    <strong>Output Body</strong>
<pre class="code">
{
    "version": 1,
    "status": 200,
    "data":
    {
        "id": 10,
        "title": "Shiny Days",
        "subtitle": "From \"Yuru Camp\"",
        "artist": "Asaka",
        "charter": "imfallin",
        "uploader": 1,
        "tags":
        [
            ""
        ],
        "views": 9,
        "downloads": null,
        "isExplicit": false,
        "publicationStatus": 0,
        "fileReference": "spinshare_645bd72488592",
        "hasEasyDifficulty": true,
        "hasNormalDifficulty": true,
        "hasHardDifficulty": true,
        "hasExtremeDifficulty": true,
        "hasXDDifficulty": true,
        "easyDifficulty": 5,
        "normalDifficulty": 10,
        "hardDifficulty": 15,
        "expertDifficulty": 23,
        "XDDifficulty": 26,
        "uploadDate":
        {
            "date": "2021-01-15 13:27:34.000000",
            "timezone_type": 3,
            "timezone": "Europe/Berlin"
        },
        "updateDate":
        {
            "date": "2021-01-15 13:27:34.000000",
            "timezone_type": 3,
            "timezone": "Europe/Berlin"
        },
        "updateHash": "d837d2adcdc19d215130cd92f27ae927",
        "description": null,
        "dlc": {
            "identifier": "supporterpack1",
            "title": "Supporter Pack",
            "storeLink": "https://store.steampowered.com/app/1664540/Spin_Rhythm_XD__Supporter_Pack/"
        },
        "paths":
        {
            "ogg": "http://localhost/www/spinshare/server/public/uploads/audio/spinshare_60018a36ec5e9_0.ogg",
            "cover": "http://localhost/www/spinshare/server/public/uploads/thumbnail/spinshare_60018a36ec5e9.jpg",
            "zip": "http://localhost/www/spinshare/server/public/api/song/10/download"
        }
    }
}
</pre>

                                    <br />

                                    <strong>Output Body (Not Found)</strong>
<pre class="code">
{
    "version":1,
    "status":404,
    "data":[]
}
</pre>
                                </div>
                                
                                <div class="card" id="reviews">
                                    <h2 class="card-title">Reviews</h2>
                                    <p>Returns all active reviews of a song.</p>

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Method</th>
                                            <td>GET</td>
                                        </tr>
                                        <tr>
                                            <th>Endpoint</th>
                                            <td>/song/<code class="code">songID</code>/reviews</td>
                                        </tr>
                                    </table>

                                    <br />

                                    <div class="alert alert-primary" role="alert">
                                        <h4 class="alert-heading">Information</h4>
                                        Instead of a <code class="code">songID</code> you can also provide a <code class="code">fileReference</code>, which start with <code class="code">spinshare_</code>.
                                    </div>

                                    <br />

                                    <strong>Output Body</strong>
<pre class="code">
{
    "version":1,
    "status":200,
    "data":{
        "average":91.7,
        "reviews":[
            {
                "id":632,
                "user":{
                    "id":47,
                    "username":"NicolasPL",
                    "coverReference":"5e98e02997f6c.png",
                    "isVerified":null,
                    "isPatreon":null,
		            "pronouns": "they/them"
                },
                "recommended":true,
                "comment":"Really good. I played it on Expert, really fun.",
                "reviewDate":{
                    "date":"2020-08-03 01:19:43.000000",
                    "timezone_type":3,
                    "timezone":"Europe\/Berlin"
                }
            },
            ...
        ]
    }
}
</pre>
                                </div>

                                <div class="card" id="playlists">
                                    <h2 class="card-title">Playlists</h2>
                                    <p>Returns all playlists that includes a song.</p>

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Method</th>
                                            <td>GET</td>
                                        </tr>
                                        <tr>
                                            <th>Endpoint</th>
                                            <td>/song/<code class="code">songID</code>/playlists</td>
                                        </tr>
                                    </table>

                                    <br />

                                    <div class="alert alert-primary" role="alert">
                                        <h4 class="alert-heading">Information</h4>
                                        Instead of a <code class="code">songID</code> you can also provide a <code class="code">fileReference</code>, which start with <code class="code">spinshare_</code>.
                                    </div>

                                    <br />

                                    <strong>Output Body</strong>
                                    <pre class="code">
{
	"version": 1,
	"status": 200,
	"data": [
		{
			"id": 7,
			"title": "Great Normal\/Hard charts!",
			"description": "Here are some chart's I enjoyed playing on normal\/hard!",
			"fileReference": "playlist_5fc2a88d3c227",
			"user": {
				"id": 4,
				"username": "thatanimeweirdo",
				"isVerified": true,
				"isPatreon": null,
				"pronouns": "she\/they",
				"avatar": "https:\/\/spinsha.re\/uploads\/avatar\/608f35bb4afe4.png"
			},
			"songs": 50,
			"isOfficial": false,
			"cover": "https:\/\/spinsha.re\/uploads\/cover\/playlist_5fc2a88d3c227.png"
		}
	]
}
</pre>
                                </div>
                                
                                <div class="card" id="spinplays">
                                    <h2 class="card-title">SpinPlays</h2>
                                    <p>Returns all active SpinPlays of a song.</p>

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Method</th>
                                            <td>GET</td>
                                        </tr>
                                        <tr>
                                            <th>Endpoint</th>
                                            <td>/song/<code class="code">songID</code>/spinplays</td>
                                        </tr>
                                    </table>

                                    <br />

                                    <div class="alert alert-primary" role="alert">
                                        <h4 class="alert-heading">Information</h4>
                                        Instead of a <code class="code">songID</code> you can also provide a <code class="code">fileReference</code>, which start with <code class="code">spinshare_</code>.
                                    </div>

                                    <br />

                                    <strong>Output Body</strong>
<pre class="code">
{
    "version":1,
    "status":200,
    "data":{
        "spinPlays":[
            {
                "id":150,
                "user":{
                    "id":20,
                    "username":"Zick407",
                    "coverReference":"5e9935a0afa55.png",
                    "isVerified":false,
                    "isPatreon":null,
		            "pronouns": "they/them"
                },
                "videoUrl":"https:\/\/www.youtube.com\/watch?v=bEVdyM5_qxA",
                "videoThumbnail":"https:\/\/i.ytimg.com\/vi\/bEVdyM5_qxA\/maxresdefault.jpg",
                "submitDate":{
                    "date":"2020-07-01 02:10:39.000000",
                    "timezone_type":3,
                    "timezone":"Europe\/Berlin"
                },
                "isActive":true
            }
        ]
    }
    }
</pre>
                                </div>
                                
                                <div class="card" id="download">
                                    <h2 class="card-title">Download</h2>
                                    <p>Generates a download zip and returns it.</p>

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Method</th>
                                            <td>GET</td>
                                        </tr>
                                        <tr>
                                            <th>Endpoint</th>
                                            <td>/song/<code class="code">songID</code>/download</td>
                                        </tr>
                                    </table>

                                    <br />

                                    <div class="alert alert-primary" role="alert">
                                        <h4 class="alert-heading">Information</h4>
                                        If a song is part of a DLC, you must include at least one DLC Hash in your request header through <code class="code">SPSH-DLC-Hash</code>.
                                    </div>

                                    <br />

                                    <div class="alert alert-primary" role="alert">
                                        <h4 class="alert-heading">Information</h4>
                                        Instead of a <code class="code">songID</code> you can also provide a <code class="code">fileReference</code>, which start with <code class="code">spinshare_</code>.
                                    </div>

                                    <br />

                                    <div class="alert alert-primary" role="alert">
                                        <h4 class="alert-heading">Information</h4>
                                        This API endpoint returns a zip attachment as a Spin Rhythm XD backup.
                                    </div>
                                </div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="content">
								<div class="on-this-page-nav">
									<div class="title">On this page</div>
									<a href="#detail">Detail</a>
									<a href="#reviews">Reviews</a>
									<a href="#spinplays">SpinPlays</a>
                                    <a href="#playlists">Playlists</a>
									<a href="#download">Download</a>
								</div>
							</div>
						</div>
					</div>
{% endblock %}