{% extends 'base.html.twig' %}

{% block title %}Report Confirmed{% endblock %}

{% block content %}
  <section class="section-upload">
      <div class="box">
        <div class="title">Confirmed</div>
        <p>
            Your report was saved and will be processed as soon as possible! Thank you!
        </p>
      </div>
  </section>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/upload.css') }}" />
{% endblock %}
